
.bar .title {
  font-size: 17px !important;
  font-weight: 600;
  font-family: Arial;
  text-align: center !important;
  right:0px !important;
  left: 0px !important
}
.card-info{
  height:auto !important;
}
button{
  padding: 0 !important;
}
.img-info{
  margin-top: -35px;
  margin-bottom: -15px;
}

@media (max-width:413px) and (min-width:321px) {
  /* Empty. Add your own CSS if you like */
  .scroll {
    height: 100%;
  }
  #map {
    width: 100%;
    height: 100%;
    background: transparent url(../img/gps.svg) no-repeat center center !important;
    background-size: 100% !important;
  }
  #mapArtes {
    width: 100%;
    height: 100%;
    background: transparent url(../img/gps.svg) no-repeat center center !important;
    background-size: 100% !important;
  }
  #mapCine {
    width: 100%;
    height: 100%;
    background: transparent url(../img/gps.svg) no-repeat center center !important;
    background-size: 100% !important;
  }
  ion-content {
    background: linear-gradient(#4E4E8E, #8D8DD0) no-repeat center fixed;
  }
  p, .adp-directions span, .adp-summary span, .adp-substep, .adp-maneuver, .adp-legal{
    color: white !important
  }

  .logo{
    background: transparent no-repeat center center fixed;
    height: 100%;
    background-image: url('../img/logo-fcp.jpg');
    background-size: 100%;
  }

  .logo-div{
    height: 20%
  }
}

@media screen and (min-width:500px) {
  /* Empty. Add your own CSS if you like */
  .scroll {
    height: 100%;
  }
  #map {
    width: 100%;
    height: 100%;
    background: transparent url(../img/gps.svg) no-repeat center center !important;
    background-size: 100% !important;
  }
  #mapArtes {
    width: 100%;
    height: 100%;
    background: transparent url(../img/gps.svg) no-repeat center center !important;
    background-size: 100% !important;
  }
  #mapCine {
    width: 100%;
    height: 100%;
    background: transparent url(../img/gps.svg) no-repeat center center !important;
    background-size: 100% !important;
  }
  ion-content {
    background: linear-gradient(#4E4E8E, #8D8DD0) no-repeat center fixed;
  }
  p, .adp-directions span, .adp-summary span, .adp-substep, .adp-maneuver, .adp-legal{
    color: white !important
  }
  .logo {
    background: transparent no-repeat center center fixed;
    background-image: url('../img/logo-fcp.jpg');
    background-size: 35%;
    height: 100%;
  }
  .logo-div{
    height:25%;
  }
}